.typewriterCursor::after {
  content: '|';
  margin-left: 2px;
  display: inline-block;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
