@import 'tailwindcss';
@import 'tw-animate-css';

/* Default theme vars - https://tailwindcss.com/docs/theme#default-theme-variable-reference */

/* 
* Fix for Tailwind CSS v4 - Unknown at rule @plugin, @custom-variant, @theme, @utility, @variant, @apply, @source, @reference in global.css
* TLDR: add plugin Tailwind CSS Intellisense + files.associations in settings.json to your IDE
* https://stackoverflow.com/questions/79513015/tailwind-css-v4-unknown-at-rule-plugin-custom-variant-theme-utility-v?lq=1&utm_source=chatgpt.com
*/

/* @custom-variant dark (&:is(.dark *)); */
@custom-variant dark (&:is(.dark &));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-bitter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 120rem;
  /* You can add custom breakpoints here */
  --breakpoint-tablet: 900px;
}

:root {
  --color-info-background: rgba(255, 255, 255, 0.05); /*bg-info-background*/
  --root-bg-base: radial-gradient(circle, #93a5cf 0%, #e4efe9 100%);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --root-bg-base: radial-gradient(circle, #29323c 0%, #485563 100%);
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
}

@layer utilities {
  .frosted-card {
    @apply backdrop-blur-sm bg-white/5 border border-white/6 rounded-[20px] shadow-[0_0_4px_1px_rgba(0,0,0,0.2)];
  }
}

/* Global background styles because css modules had a "flash/blink effect" issue */
.global-background-container {
  position: fixed;
  inset: 0;
  z-index: -1; /* позаду всіх елементів */
}

.global-background-item {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  background: var(--root-bg-base);
}

.global-background-item.global-background-item-active {
  opacity: 1;
}

.global-background-item-0 {
  background: radial-gradient(
    circle,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

.dark .global-background-item-0 {
  background: radial-gradient(circle, #1184b1 0%, #222e36 50%, #1b3540 100%);
}

.global-background-item-1 {
  background: radial-gradient(
    circle,
    oklab(74.75500000000001% -0.12764 0.05959) 0%,
    oklab(88.58500000000001% -0.03411 0.15152) 50%,
    oklab(69.884% 0.12232 0.0944) 100%
  );
}

.dark .global-background-item-1 {
  background: radial-gradient(circle, #333b66 0%, #63608b 50%, lab(9 -2.39 -16.5) 100%);
}

.global-background-item-2 {
  background: radial-gradient(
    circle,
    rgba(253, 29, 111, 0.61) 0%,
    rgba(253, 115, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.dark .global-background-item-2 {
  background: radial-gradient(circle, rgb(138 207 124 / 61%) 0%, #144540 50%, #0e332d 100%);
}

.global-background-item-3 {
  background: radial-gradient(circle, rgb(235 255 251 / 61%) 0%, #5a97ad 50%, #1f4b56 100%);
}

.dark .global-background-item-3 {
  background: radial-gradient(circle, rgb(15 114 94 / 61%) 0%, #0b303d 50%, #475559 100%);
}

/* 
Syntax in Tailwind v4 for @custom-variant different between PostCSS-plugins with old style.
@custom-variant motion-reduce (@media (prefers-reduced-motion: reduce) { &:is(&) }); 
*/
@custom-variant motion-reduce (&:is(&)) (prefers-reduced-motion: reduce);
.motion-reduce-style {
  @apply transition-all duration-500 motion-reduce:transition-none;
}

@custom-variant supports-backdrop (&:is(&)) (supports(backdrop-filter: blur(2px)));
.supports-backdrop-style {
  @apply bg-gray-800/50 supports-backdrop:bg-gray-800/30;
}

@custom-variant rtl (&:is([dir="rtl"] &));
.text {
  @apply text-left rtl:text-right;
}
