.header {
  position: fixed;
  z-index: 1000;
  display: flex;
  width: max-content;
  justify-content: center;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  display: flex;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.nav a {
  position: relative;
  color: transparent;
  background: linear-gradient(to right, #ffffff, #ffffff, #86a8e7, #df8439);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
  font-weight: 700;
  padding: 20px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: lowercase;
  transition: 0.5s all;
}

.nav a:hover {
  background-position: -100% 0;
}

.active::after {
  content: '';
  position: absolute;
  width: 40%;
  left: 50%;
  bottom: 15px;
  height: 1px;
  background-color: white;
  transform: translateX(-50%);
}
