.mainContainer {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.mainContent {
  position: relative;
  z-index: 25; /* DialogOverlay && DialogContent z-50 */
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding-top: var(--main-container-top-space-base);
}
@media (min-width: 640px) {
  .mainContent {
    margin: 0 50px;
    padding-top: var(--main-container-top-space-base);
  }
  .mainContentFullHeight {
    min-height: var(--main-container-min-height-relative);
  }
}

@media (min-width: 1024px) {
  .mainContent {
    padding-top: var(--main-container-top-space-base);
  }
  .mainContentFullHeight {
    min-height: var(--main-container-min-height-relative);
  }
}

@media (min-width: 2100px) {
  .mainContent {
    max-width: 2000px;
    margin: 0 auto;
  }
}
