.mainContainer {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.mainContent {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding-top: 120px;
}

.mainContentFullHeight {
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  .mainContent {
    margin: 0 50px;
    padding-top: 140px;
  }
  .mainContentFullHeight {
    min-height: calc(100vh - 140px);
  }
}

@media (min-width: 1024px) {
  .mainContent {
    margin: 0 50px;
    padding-top: 166px;
  }
  .mainContentFullHeight {
    min-height: calc(100vh - 166px);
  }
}

@media (min-width: 2100px) {
  .mainContent {
    max-width: 2000px;
    margin: 0 auto;
  }
}
