.mainContainer {
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  overflow: hidden;
}

.mainContent {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  z-index: 25; /* DialogOverlay && DialogContent z-50 */
  margin: 0 16px;
  padding-top: var(--main-container-top-space-base);
}
@media (min-width: 640px) {
  .mainContent {
    margin: 0 32px;
    padding-top: var(--main-container-top-space-base);
  }
  .mainContentFullHeight {
    min-height: var(--main-container-min-height-relative);
    min-height: var(--main-container-min-height-relative-svh);
  }
}

@media (min-width: 1024px) {
  .mainContent {
    padding-top: var(--main-container-top-space-base);
  }
  .mainContentFullHeight {
    min-height: var(--main-container-min-height-relative);
    min-height: var(--main-container-min-height-relative-svh);
  }
}

@media (min-width: 2100px) {
  .mainContent {
    max-width: 2000px;
    margin: 0 auto;
  }
}
